/* base layer */
@layer base {

	html,
	body {
		height: 100%;
		overflow: hidden;
		position: fixed;
		inset: 0;
	}

	#app,
	#svelte {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		position: relative;
	}


	/* Universal scrollbar styling */
	::-webkit-scrollbar {
		@apply w-2;
	}
	::-webkit-scrollbar-track {
		@apply bg-muted rounded-full;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-secondary rounded-full;
	}
	::-webkit-scrollbar-thumb:hover {
		@apply bg-cyan-300 rounded-full;
	}

	/* Firefox support */
	html {
		/* scrollbar-width: thin; */
		scrollbar-color: var(--color-muted) transparent;
	}
}
