@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
	/* Custom Theme Configuration */
	name: 'CustomTheme';
	default: true; /* set as default */
	prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
	color-scheme: dark; /* color of browser-provided UI */

	include:;
	exclude:;
	prefix:;
	logs: true;


    --color-primary          : inherit;  /* Primary brand color, The main color of your brand */
    --color-primary-content  : inherit;  /* Foreground content color to use on `primary-color` */
    --color-secondary        : inherit;  /* Secondary brand color, The optional, secondary color of your brand */
    --color-secondary-content: inherit;  /* Foreground content color to use on `secondary-color` */
    --color-accent           : inherit;  /* Accent brand color, The optional, accent color of your brand */
    --color-accent-content   : inherit;  /* Foreground content color to use on `accent-color` */
    --color-neutral          : inherit;  /* Neutral dark color, For not-saturated parts of UI */
    --color-neutral-content  : inherit;  /* Foreground content color to use on neutral color */
    --color-base-100         : inherit;  /* Base surface color of page, used for blank backgrounds */
    --color-base-200         : inherit;  /* Base color, darker shade, to create elevations */
    --color-base-300         : inherit;  /* Base color, even more darker shade, to create elevations */
    --color-base-content     : inherit;  /* Foreground content color to use on `base-color` */
    --color-info             : inherit;  /* Info color, For informative/helpful messages */
    --color-info-content     : inherit;  /* Foreground content color to use on `info-color` */
    --color-success          : inherit;  /* Success color, For success/safe messages */
    --color-success-content  : inherit;  /* Foreground content color to use on `success-color` */
    --color-warning          : inherit;  /* Warning color, For warning/caution messages */
    --color-warning-content  : inherit;  /* Foreground content color to use on `warning-color` */
    --color-error            : inherit;  /* Error color, For error/danger/destructive messages */
    --color-error-content    : inherit;  /* Foreground content color to use on `error-color` */

	/* border radius */
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;

	/* base sizes */
	--size-selector: 0.25rem;
	--size-field: 0.25rem;

	/* border size */
	--border: 1px;

	/* effects */
	--depth: 1;
	--noise: 0;



    .bg-{COLOR_NAME} 
    .text-{COLOR_NAME} 
    .border-{COLOR_NAME} 
    .from-{COLOR_NAME} 
    .via-{COLOR_NAME} 
    .to-{COLOR_NAME} 
    .ring-{COLOR_NAME} 
    .fill-{COLOR_NAME} 
    .stroke-{COLOR_NAME} 
    .shadow-{COLOR_NAME} 
    .outline-{COLOR_NAME} 
    .divide-{COLOR_NAME}
    .accent-{COLOR_NAME}
    .caret-{COLOR_NAME}
    .decoration-{COLOR_NAME}
    .placeholder-{COLOR_NAME}
    .ring-offset-{COLOR_NAME}





    /********************************************************************/
    /*  _____ _                                 _      _    _           */
    /* |_   _| |_  ___ _ __  ___  __ ____ _ _ _(_)__ _| |__| |___ ___   */
    /*   | | | ' \/ -_) '  \/ -_) \ V / _` | '_| / _` | '_ \ / -_|_-<   */
    /*   |_| |_||_\___|_|_|_\___|  \_/\__,_|_| |_\__,_|_.__/_\___/__/   */
    /********************************************************************/

    --color-primary          : inherit;  /* 	Primary brand color */
    --color-primary-content  : inherit;  /* 	Foreground content color to use on primary color */
    --color-secondary        : inherit;  /* 	Secondary brand color */
    --color-secondary-content: inherit;  /* 	Foreground content color to use on secondary color */
    --color-accent           : inherit;  /* 	Accent brand color */
    --color-accent-content   : inherit;  /* 	Foreground content color to use on accent color */
    --color-neutral          : inherit;  /* 	Neutral dark color */
    --color-neutral-content  : inherit;  /* 	Foreground content color to use on neutral color */
    --color-base-100         : inherit;  /* 	Base color of page, used for blank backgrounds */
    --color-base-200         : inherit;  /* 	Base color, darker shade */
    --color-base-300         : inherit;  /* 	Base color, even more darker shade */
    --color-base-content     : inherit;  /* 	Foreground content color to use on base color */
    --color-info             : inherit;  /* 	Info color */
    --color-info-content     : inherit;  /* 	Foreground content color to use on info color */
    --color-success          : inherit;  /* 	Success color */
    --color-success-content  : inherit;  /* 	Foreground content color to use on success color */
    --color-warning          : inherit;  /* 	Warning color */
    --color-warning-content  : inherit;  /* 	Foreground content color to use on warning color */
    --color-error            : inherit;  /* 	Error color */
    --color-error-content    : inherit;  /* 	Foreground content color to use on error color */
    --radius-selector        : inherit;  /* 	Border radius for selectors like checkbox, toggle, badge, etc */
    --radius-field           : inherit;  /* 	Border radius for fields like input, select, tab, etc */
    --radius-box             : inherit;  /* 	Border radius for boxes like card, modal, alert, etc */
    --size-selector          : inherit;  /* 	Base scale size for selectors like checkbox, toggle, badge, etc */
    --size-field             : inherit;  /* 	Base scale size for fields like input, select, tab, etc */
    --border                 : inherit;  /* 	Border width of all components */
    --depth                  : inherit;  /* 	(binary) Adds a depth effect for relevant components */
    --noise                  : inherit;  /* 	(binary) Adds a background noise effect for relevant components */


/**************************************************************************************/
/*   ___                                  _    __   __        _      _    _           */
/*  / __|___ _ __  _ __  ___ _ _  ___ _ _| |_  \ \ / /_ _ _ _(_)__ _| |__| |___ ___   */
/* | (__/ _ \ '  \| '_ \/ _ \ ' \/ -_) ' \  _|  \ V / _` | '_| / _` | '_ \ / -_|_-<   */
/*  \___\___/_|_|_| .__/\___/_||_\___|_||_\__|   \_/\__,_|_| |_\__,_|_.__/_\___/__/   */
/*                |_|                                                                 */
/**************************************************************************************/

	--alert-color              : inherit;  /* color of the alert */
	--badge-color              : inherit;  /* color of the badge */
	--size                     : inherit;  /* size of the badge */
	--btn-color                : inherit;  /* background color of the button */
	--btn-fg                   : inherit;  /* foreground color of the button */
	--btn-shadow               : inherit;  /* shadow of the button */
	--btn-noise                : inherit;  /* noise background of the button if enabled */
	--btn-p                    : inherit;  /* padding of the button */
	--size                     : inherit;  /* size of the button */
	--card-p                   : inherit;  /* padding of the card body */
	--card-fs                  : inherit;  /* font size of the card body */
	--cardtitle-fs             : inherit;  /* font size of the card title */
	--size                     : inherit;  /* size of the checkbox */
	--value                    : inherit;  /* value of the countdown */
	--divider-m                : inherit;  /* margin of the divider */
	--anchor-v                 : inherit;  /* vertical position of the anchor */
	--anchor-h                 : inherit;  /* horizontal position of the anchor */
	--input-color              : inherit;  /* color of the file input */
	--size                     : inherit;  /* size of the file input */
	--indicator-t              : inherit;  /* top position of the indicator */
	--indicator-b              : inherit;  /* bottom position of the indicator */
	--indicator-s              : inherit;  /* start position of the indicator */
	--indicator-e              : inherit;  /* end position of the indicator */
	--indicator-y              : inherit;  /* vertical position of the indicator */
	--indicator-x              : inherit;  /* horizontal position of the indicator */
	--input-color              : inherit;  /* color of the input */
	--size                     : inherit;  /* size of the input */
	--size                     : inherit;  /* size of the kbd */
	--list-grid-cols           : inherit;  /* grid columns of the list */
	--menu-active-fg           : inherit;  /* foreground color of the active menu item */
	--menu-active-bg           : inherit;  /* background color of the active menu item */
	--modal-tl                 : inherit;  /* top left border radius of the modal */
	--modal-tr                 : inherit;  /* top right border radius of the modal */
	--modal-bl                 : inherit;  /* bottom left border radius of the modal */
	--modal-br                 : inherit;  /* bottom right border radius of the modal */
	--value                    : inherit;  /* value of the radial progress */
	--size                     : inherit;  /* size of the radial progress */
	--thickness                : inherit;  /* thickness of the radial progress */
	--radialprogress           : inherit;  /* for calculating the radial progress position */
	--size                     : inherit;  /* size of the radio */
	--range-bg                 : inherit;  /* background color of the range slider thumb */
	--range-thumb              : inherit;  /* color of the range slider thumb */
	--range-thumb-size         : inherit;  /* size of the range slider thumb */
	--range-progress           : inherit;  /* color of the range slider progress */
	--range-fill               : inherit;  /* binary, whether to fill the range slider progress or not */
	--range-p                  : inherit;  /* padding of the range slider thumb */
	--size                     : inherit;  /* size of the range slider */
	--input-color              : inherit;  /* color of the input */
	--size                     : inherit;  /* size of the select */
	--tabs-height              : inherit;  /* height of the tabs */
	--tabs-direction           : inherit;  /* direction of the tabs */
	--tab-p                    : inherit;  /* padding of the tab */
	--tab-bg                   : inherit;  /* background color of the tab */
	--tab-border-color         : inherit;  /* border color of the tab */
	--tab-radius-ss            : inherit;  /* start start border radius of the tab */
	--tab-radius-se            : inherit;  /* start end border radius of the tab */
	--tab-radius-es            : inherit;  /* end start border radius of the tab */
	--tab-radius-ee            : inherit;  /* end end border radius of the tab */
	--tab-order                : inherit;  /* Order of the tab */
	--tab-radius-min           : inherit;  /* minimum border radius of the lift tab */
	--tab-paddings             : inherit;  /* all padding values of the lift tab */
	--tab-border-colors        : inherit;  /* all border color values of the lift tab */
	--tab-corner-width         : inherit;  /* corner width of the lift tab */
	--tab-corner-height        : inherit;  /* corner height of the lift tab */
	--tab-corner-width         : inherit;  /* corner width of the lift tab */
	--tab-corner-position      : inherit;  /* corner position of the lift tab */
	--tab-inset                : inherit;  /* inset position of the lift tab */
	--radius-start             : inherit;  /* border radius for the corner of the lift tab */
	--radius-end               : inherit;  /* border radius for the corner of the lift tab */
	--tabcontent-margin        : inherit;  /* margin of the tab content */
	--tabcontent-radius-ss     : inherit;  /* start start border radius of the tab content */
	--tabcontent-radius-se     : inherit;  /* start end border radius of the tab content */
	--tabcontent-radius-es     : inherit;  /* end start border radius of the tab content */
	--tabcontent-radius-ee     : inherit;  /* end end border radius of the tab content */
	--tabcontent-order         : inherit;  /* order of the tab content */
	--input-color              : inherit;  /* color of the input */
	--size                     : inherit;  /* size of the textarea */
	--timeline-row-start       : inherit;  /* start position of the timeline row */
	--timeline-row-end         : inherit;  /* end position of the timeline row */
	--timeline-col-start       : inherit;  /* start position of the timeline column */
	--timeline-col-end         : inherit;  /* end position of the timeline column */
	--toast-x                  : inherit;  /* horizontal position of the toast */
	--toast-y                  : inherit;  /* vertical position of the toast */
	--toggle-p                 : inherit;  /* padding of the toggle */
	--size                     : inherit;  /* size of the toggle */
	--tt-bg                    : inherit;  /* background color of the tooltip */
	--tt-off                   : inherit;  /* offset of the tooltip */
	--tt-tailw                 : inherit;  /* position of the tooltip tail */
	--glass-blur               : inherit;  /* blur of the glass effect */
	--glass-opacity            : inherit;  /* opacity of the glass effect */
	--glass-reflect-degree     : inherit;  /* degree of the glass reflection */
	--glass-reflect-opacity    : inherit;  /* opacity of the glass reflection */
	--glass-border-opacity     : inherit;  /* opacity of the glass border */
	--glass-text-shadow-opacity: inherit;  /* opacity of the glass text shadow */
	--join-ss                  : inherit;  /* start start border radius of the join */
	--join-se                  : inherit;  /* start end border radius of the join */
	--join-es                  : inherit;  /* end start border radius of the join */
	--join-ee                  : inherit;  /* end end border radius of the join */






/*  ___             _           ___         _ _             */
/* | _ ) ___ _ _ __| |___ _ _  | _ \__ _ __| (_)_  _ ___    */
/* | _ \/ _ \ '_/ _` / -_) '_| |   / _` / _` | | || (_-<    */
/* |___/\___/_| \__,_\___|_|   |_|_\__,_\__,_|_|\_,_/__/    */
/************************************************************/


--radius-box     : inherit;  /* For large sized components like card, modal, alert, etc.     */
--radius-field   : inherit;  /* For medium sized components like button, input, select, tab, etc.        */
--radius-selector: inherit;  /* For small sized components like checkbox, toggle, badge, etc.        */

.rounded-box;
.rounded-field;
.rounded-selector;










    /*   ___     _           _   _ _   _ _ _ _          */
    /*  / __|___| |___ _ _  | | | | |_(_) (_) |_ _  _   */
    /* | (__/ _ \ / _ \ '_| | |_| |  _| | | |  _| || |  */
    /*  \___\___/_\___/_|    \___/ \__|_|_|_|\__|\_, |  */
    /*                                           |__/   */
    /****************************************************/

    .bg-primary          ;  /* Sets the background color to the primary color */
    .to-primary          ;  /* Sets the ending color for a gradient to the primary color */
    .via-primary         ;  /* Sets the middle color for a gradient to the primary color */
    .from-primary        ;  /* Sets the starting color for a gradient to the primary color */
    .text-primary        ;  /* Sets the text color to the primary color */
    .ring-primary        ;  /* Sets the ring color to the primary color */
    .fill-primary        ;  /* Sets the fill color for SVG elements to the primary color */
    .caret-primary       ;  /* Sets the caret color to the primary color */
    .stroke-primary      ;  /* Sets the stroke color for SVG elements to the primary color */
    .border-primary      ;  /* Sets the border color to the primary color */
    .divide-primary      ;  /* Sets the color for dividing borders to the primary color */
    .accent-primary      ;  /* Sets the accent color to the primary color */
    .shadow-primary      ;  /* Sets the shadow color to the primary color */
    .outline-primary     ;  /* Sets the outline color to the primary color */
    .decoration-primary  ;  /* Sets the text decoration color to the primary color */
    .placeholder-primary ;  /* Sets the placeholder text color to the primary color */
    .ring-offset-primary ;  /*  Sets the ring offset color to the primary color */

}










[data-theme='CustomTheme'] {
	.my-btn {
		background-color: #1ea1f1;
		border-color: #1ea1f1;
	}
	.my-btn:hover {
		background-color: #1c96e1;
		border-color: #1c96e1;
	}
}

/* 
  ____        __             _ _      ___                      _     _            
 |  _ \  ___ / _| __ _ _   _| | |_   / _ \__   _____ _ __ _ __(_) __| | ___  ___  
 | | | |/ _ \ |_ / _` | | | | | __| | | | \ \ / / _ \ '__| '__| |/ _` |/ _ \/ __| 
 | |_| |  __/  _| (_| | |_| | | |_  | |_| |\ V /  __/ |  | |  | | (_| |  __/\__ \ 
 |____/ \___|_|  \__,_|\__,_|_|\__|  \___/  \_/ \___|_|  |_|  |_|\__,_|\___||___/ 
*/

@plugin "daisyui/theme" {
	name: 'sunset';
	default: false;

	/* Custom Overrides */
	[data-theme='sunset'] {
	}
}

@plugin "daisyui/theme" {
	name: 'synthwave';
	default: false;

	/* Custom Overrides */
	[data-theme='synthwave'] {
	}
}
